@import "../../styles/variables.scss";

.heroWrap {
  height: 100%;
  min-height: 100vh;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;

  .responsiveHeading {
    font-size: clamp(66px, 7vw, 108px);

    color: $black;

    @media only screen and (min-width: $breakpoint-sm) {
      font-size: clamp(64px, 8vw, 108px);
    }
    @media only screen and (min-width: $breakpoint-md) {
      font-size: clamp(66px, 6.56vw, 108px);
    }
    @media only screen and (min-width: $breakpoint-lg) {
    }
    @media only screen and (min-width: 1600px) {
      font-size: clamp(66px, 7vw, 108px);
    }
  }
}
