@import "../../styles/variables.scss";
.about {
  width: 100%;
  min-height: 100vh;
  @media only screen and (min-width: $breakpoint-sm) {
    min-height: 140vh;
  }
}
.aboutWrap {
  width: 100%;
  height: 100%;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 150px;
  @media only screen and (min-width: $breakpoint-sm) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  h2 {
    margin-bottom: 40px;
    font-size: 22px;
    line-height: 1.2;
    color: $white;
    letter-spacing: 1px;
  }
  p.normalText {
    color: rgba(244, 244, 244, 0.2);
    text-align: justify;
    position: relative;
    @media (hover: none) {
      color: $white;
    }
  }
  span.overlayText {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9;
    color: $white;
    pointer-events: none;
    transition: clip-path 0.1s;
  }

  .dotHighlight {
    background-color: transparent;
    position: fixed;
    height: 0;
    width: 0;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    pointer-events: none;
    transition: width 0.17s ease-in, height 0.17s ease-in;

    @media (hover: none) {
      display: none;
    }
  }
  p.normalText:hover {
    & > .dotHighlight {
      height: 30vw;
      width: 30vw;
      border: 1px solid rgba(244, 244, 244, 0.3);
      transition: all 0.1s;

      &:nth-child(2) {
        height: 20vw;
        width: 20vw;
        transition: all 0.17s;
      }
      &:nth-child(3) {
        height: 10vw;
        width: 10vw;
        transition: all 0.21s;
      }
    }
  }
}
