@import "../../styles/variables.scss";

.navigation {
  height: 80px;
  align-items: center;
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  .wrap {
    display: flex;
    align-items: center;
    position: relative;
  }
  .homeLink {
    margin-right: auto;
    padding: 0;
    .home {
      height: 20px;
      width: 20px;
      border-radius: 50px;
      border: 5px solid $blue;
      background-color: transparent;
    }
  }

  .navLink {
    text-decoration: none;
    color: $blue;
    padding: 0 25px;
    display: none;
    @media only screen and (min-width: $breakpoint-sm) {
      display: block;
    }
  }
}
